@model HomeViewModel

<div class="col-12"><h2>@Model.Title</h2></div>

@foreach (var pie in Model.Pies)
{
    <div class="pie-cart col-sm-4 col-lg-4 col-md-4">
        <div class="card">
            <img class="card-img-top" src="@pie.ImageThumbnailUrl" alt="" />
            <div class="card-body">
                <div class="caption">
                    <h3 class="float-right card-text">@pie.Price.ToString("c")</h3>
                    <h3 class="card-title"><a asp-controller="Home" asp-action="Details" asp-route-id="@pie.Id">@pie.Name</a></h3>
                    <p class="card-text">@pie.ShortDescription</p>
                </div>
            </div>
        </div>
    </div>
}