@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <button class="btn btn-default">Search</button>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn"
                   asp-page="./Detail"
                   asp-route-restaurantId="@restaurant.Id">
                    Detail
                </a>
            </td>
        </tr>
    }
</table>
<div>@Model.Message</div>